# Python standard ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.mo
*.db
*.sqlite3
*.env
.env/
.venv/
venv/
ENV/
.envrc
*.bak
*.swp
*.tmp
*.DS_Store
Thumbs.db

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Ignore user-specific config and data
params.json
settings.json
